footer {
  margin-top: 100px;
}
.line {
  width: 45%;
  height: 2px;
  margin: 0 auto;
  background-color: white;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.8rem;
  margin-top: 30px;
}
.social {
  display: flex;
  list-style: none;
  gap: 20px;
}

img {
  width: 40px;
  background-color: white;
  border-radius: 20px;
}
